@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
button,
p {
  color: #323377;
  font-variant-numeric: tabular-nums;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(background.svg);
  background-position: center;
  background-size: cover;
}
.heading {
  font-size: 42px;
  color: rgb(255, 166, 0);
  background-color: rgba(255, 166, 0, 0.363);
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: rgb(233, 173, 9) 0px 0px 10px 0px;
  margin-top: 150px;
}
.stopwatch {
  background-color: #c7e1f388;
  padding: 30px;
  border-radius: 10px;
  border: 3px rgba(255, 166, 0, 0.75) dashed;
  box-shadow: rgb(233, 173, 9) 0px 0px 25px 0px;
}
span {
  font-size: 90px;
  font-weight: 600;
}
#miliseconds {
  font-size: 42px;
  font-weight: 400;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.btns button {
  width: 150px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  outline: none;
  border: 2px rgba(255, 166, 0, 0.75) solid;
  border-radius: 5px;
  cursor: pointer;
}
.btns button:hover {
  background-color: #5f679c;
  color: rgba(255, 166, 0, 0.75);
  transition: all 0.5s;
}
#stop {
  display: none;
}
