@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: $secondary-color;
}

li,
a,
input[type='submit'],
button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: $btn-color;
  text-decoration: none;
}
a:hover {
  color: $font-color;
}
ul,
p {
  margin: 0;
  padding: 0;
  color: $btn-color;
}
input {
  padding: 10px 10px;
  border: none;
  outline: none;
}
