@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffb90856;
}
button,
h1,
p {
  margin: 0;
  padding: 0;
}

.fight {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.heading {
  background-color: #faa307;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  color: #370617;
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
}
.wrapper {
  width: 350px;
}
img {
  width: 300px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 15px;
}
img:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: all 0.2s;
}
.health {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 0;
}
.health p {
  padding: 5px 0;
}
#chuck-health,
#bruce-health {
  font-size: 30px;
  font-weight: 600;
}

.fight-btn {
  padding: 15px 50px;
  font-size: 18px;
  border: 1px solid black;
  color: #faa307;
  font-weight: 600;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #370617;
  border-radius: 6px;
  transition: all 0.2s;
}
button:hover {
  background-color: #370617b6;
}
.text {
  width: 600px;
  text-align: center;
  font-size: 22px;
}
.show-result {
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
  background-color: #370617;
  color: #ffba08;
  border-radius: 6px;
}
.p-winner {
  font-size: 220px;
}
.points {
  padding-top: 20px;
}
#winner {
  display: none;
}
.quote {
  background-color: #faa307;
  margin: 20px 0;
  border-radius: 5px;
  padding: 15px 30px;
}
#quote {
  display: none;
}
