@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: rgb(37, 37, 37);
}
input,
button {
  font-family: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading i {
  font-size: 42px;
  margin: 0 20px;
}
.guess-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.guess {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
#form-guess {
  display: flex;
  justify-content: center;
}
#try {
  border: 2px solid white;
  padding: 10px 25px;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
#guess:hover,
#try:hover {
  border: 2px solid rgb(37, 37, 37);
  background-color: white;
  color: rgb(37, 37, 37);
  transition: all 0.3s;
}
#guess {
  font-size: 30px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  color: white;
  width: 30%;
  margin-right: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.arrows {
  display: flex;
  align-content: center;
  justify-content: center;
}
.arrows i {
  font-size: 45px;
  margin: 20px 10px;
}
.lives i {
  font-size: 20px;
}
#game-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
button {
  border: 2px solid white;
  padding: 10px 25px;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  border: 2px solid rgb(37, 37, 37);
  background-color: white;
  color: rgb(37, 37, 37);
  transition: all 0.3s;
}
.red {
  color: red;
}
.green {
  color: rgb(37, 255, 37);
}
#not-in-range {
  color: red;
}
